# Make sure to override these in deployment
DATABASE_URL=postgresql://postgres:@localhost:5832/trpcdb
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32"

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM="NextAuth <noreply@example.com>"